# SPDX-License-Identifier: GPL-2.0
config SECURITY_FORK_BRUTE
	bool "Fork brute force attack detection and mitigation"
	depends on SECURITY
	help
	  This is an LSM that stops any fork brute force attack against
	  vulnerable userspace processes. The detection method is based on
	  the application crash period and as a mitigation procedure all the
	  offending tasks are killed. Also, the executable file involved in the
	  attack will be marked as "not allowed" and new execve system calls
	  using this file will fail. Like capabilities, this security module
	  stacks with other LSMs.

	  If you are unsure how to answer this question, answer N.
